@import "../../../../packages/ui/src/globals.css";
.input-no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}